body
{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}
.outer
{
  background-color: #e9eff1; /* light background for outer block */
  padding: 40px;
  position: relative;
  top:60px;
  left:550px;     /* center the card horizontally */
}
div
{
    width: 20vw;
    height: 70vh;
    border: 10vw red;
    border-radius: 10px;
    background-color:azure;
    /* overflow-wrap: break-word;
    padding: 10px;
    box-sizing: border-box; */
}
img
{
    width:290px;
    display: block;
    margin: 0 auto;
    position: relative;
    top:10px;
    padding: 0px 1px;
    border-radius: 5%;
}
span
{
    position: relative;
    top: 30px;
    left: 20px;
}
.tag {
      display: inline-block;
      padding: 6px 8px;
      border: 1px solid #d1d5db;
      border-radius: 25px;
      font-family: Arial, sans-serif;
      text-align: center;
      margin-right: 5px;
      font-size: 12px;
      color: #6c757d;
      font-weight: 500;
    }
header
{
    display: inline-block;
    position: absolute;
    padding: 20px;
    left: 1px;
    top: 240px;
    font-size: 25px;
    color: #1f2937;
    font-weight: 700;
}
p
{
    overflow-wrap: break-word;
    max-width: 90%;
    position: relative;
    top: 65px;
    left: 20px;
    padding: 2px;
    font-size: 18px;
    color: #6c757d;
    font-family: 'Poppins', sans-serif;
}
.read
{
    display: inline-block;
      padding: 10px 16px;
      background-color: #e0f2ff;
      border-radius: 25px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      margin-right: 5px;
      font-size: 12px;
      top: 70px;
      left:100px;
      color: #3b82f6;
      font-weight: 500;
}