* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-image: url("images/opening.jpg");
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0px;
    opacity: 0.68;
}

.netflix {
    position: relative;
    top: 20px;
    width: 150px;
    z-index: 20;
}
.upper>select
{
    z-index: 1;
    position: relative;
    right: 60%;
    top: 45px;
    padding: 0.5% 2%;
    margin-top: 5%;
    background-color: #111;
    color: white;
    font-size: 16px;
    border: 0.5px solid gray;
    border-radius: 5px;
    z-index: 10;
}
button {
    position: relative;
    top: 20px;
}
.sign {
    background-color: red;
    color: white;
    z-index: 10;
    cursor: pointer;
    padding: 7px 14px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 500;
    line-height: 14px;
    font-size: 14px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

nav {
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.open {
    position: relative;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 96%;
}

span,
pre {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.first {
    font-size: clamp(32px, 5vw, 64px);
    line-height: 70px;
    font-weight: 700;
}

.second {
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    position: relative;
    top: 10px;
}

.third {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: 40px;
    ;
}

.input {
    display: flex;
    justify-content: center;
    gap: 6px;
}

input {
    position: relative;
    padding: 14px 20px;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 20, 20);
    border: 1px solid gray;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    top: 60px;
    left: 0;
    flex-wrap: wrap;
    color: white;
}

.get {
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    width: 12vw;
    font-size: 24px;
    font-weight: 500;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    left: 0px;
    top: 60px;
}

::placeholder {
    color: rgb(203, 196, 196);
}

.secondC {
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 300%;
}
.content
{
    width: 80%;
    height: auto;
    align-items: flex-start;
    list-style: none;
}
header {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    position: relative;
    top: 36px;
}
.movie
{
    position: relative;
    margin-top: 3%;
    display: flex;
    gap: 40px;
    overflow: hidden;
    margin-left: 2%;
}
li img
{
    border-radius: 10px;
    cursor: pointer;
    width: 12vw;
}
.num1
{
    color: white;
    z-index: 1;
    top: 220px;
    list-style: none;
    display: flex;
    position: absolute;
    gap: 120px;
    font-size: 100px;
    font-weight: 900;
    margin-left: 0.3%;
    -webkit-text-stroke: 2px rgb(159, 155, 155);
    color: black;
    font-family: 'Anton', sans-serif;
}
.num2
{
    color: white;
    z-index: 1;
    top: 220px;
    list-style: none;
    display: flex;
    position: absolute;
    gap: 120px;
    font-size: 100px;
    font-weight: 900;
    margin-left: 15%;
    -webkit-text-stroke: 2px rgb(159, 155, 155);
    color: black;
    font-family: 'Anton', sans-serif;
}
.num3
{
    color: white;
    z-index: 1;
    top: 220px;
    list-style: none;
    display: flex;
    position: absolute;
    gap: 120px;
    font-size: 100px;
    font-weight: 900;
    margin-left: 30%;
    -webkit-text-stroke: 2px rgb(159, 155, 155);
    color: black;
    font-family: 'Anton', sans-serif;
}
.num4
{
    color: white;
    z-index: 1;
    top: 220px;
    list-style: none;
    display: flex;
    position: absolute;
    gap: 120px;
    font-size: 100px;
    font-weight: 900;
    margin-left: 45%;
    -webkit-text-stroke: 2px rgb(159, 155, 155);
    color: black;
    font-family: 'Anton', sans-serif;
}
.num5
{
    color: white;
    z-index: 1;
    top: 220px;
    list-style: none;
    display: flex;
    position: absolute;
    gap: 120px;
    font-size: 100px;
    font-weight: 900;
    margin-left: 60%;
    -webkit-text-stroke: 2px rgb(159, 155, 155);
    color: black;
    font-family: 'Anton', sans-serif;
}
.num6
{
    color: white;
    z-index: 1;
    top: 220px;
    list-style: none;
    display: flex;
    position: absolute;
    gap: 120px;
    font-size: 100px;
    font-weight: 900;
    margin-left: 75%;
    -webkit-text-stroke: 2px rgb(159, 155, 155);
    color: black;
    font-family: 'Anton', sans-serif;
}
.more
{
    margin-top: 3%;
}
.item
{
    display: flex;
    gap: 13px;
}
.item1
{
    word-wrap: break-word;
    margin-top: 4%;
    background: linear-gradient(to bottom, #1c1b3b, #1a0f1a);
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
    color: white;
}
.item2
{
    margin-top: 4%;
    left: 40%;
    background: linear-gradient(to bottom, #1c1b3b, #1a0f1a);
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}
.item3
{
    margin-top: 4%;
    background: linear-gradient(to bottom, #1c1b3b, #1a0f1a);
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}
.item4
{
    margin-top: 4%;
    background: linear-gradient(to bottom, #1c1b3b, #1a0f1a);
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}
#heading
{
    display: block;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    top: 10%;
    left: 10%;
    overflow-wrap: break-word;
    max-width: 90%;
    color: white;
}
#info
{
    display: block;
    position: relative;
    top: 15%;
    left: 10%;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    max-width: 80%;
    color: rgba(255, 255, 255, 0.7);
}
.img1
{
    position: relative;
    top: 40%;
    left: 70%
}
.img2
{
    position: relative;
    top: 35%;
    left: 70%
}
.img3
{
    position: relative;
    top: 40%;
    left: 70%
}
.img4
{
    position: relative;
    top: 32%;
    left: 70%
}
.questions
{
    color: white;
    position: relative;
    top: 50px;
}
.Qna
{
    background-color: rgb(48, 47, 47);
    list-style: none;
    margin: 0.7%;
    padding: 0.7%;
    display: flex;
    justify-content: space-between;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.More
{
    font-size: 50px;
    font-weight:lighter;
}
.Member
{
    text-align: center;
    color: white;
    margin-top: 7%;
    font-weight: 400;
    font-size: 16px;
}
.input1
{
    width: 40vw;
}
.Input
{
    gap: 0.7%;
}
.info
{
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    gap: 0.3%;
    position: relative;
    margin-top: 12%;
    font-size: 16px;
    font-weight: 400;
}
address
{
    font-style: normal;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.Number
{
    text-decoration: underline;
}
a:link
{
    color: rgba(255, 255, 255, 0.7);
}
a:visited
{
    color: rgba(255, 255, 255, 0.7);
}
a:active
{
    color: red;
}
.options
{
    display: flex;
    grid-column: 4;
}
table
{
    position: relative;
    margin-top: 3%;
    width: 100%;
    table-layout: fixed;
    border-spacing: 7px 12px;
}
td
{
    min-width: 150px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
select
{
    padding: 0.5% 2%;
    margin-top: 5%;
    background-color: #111;
    color: white;
    font-size: 16px;
    border: 0.5px solid gray;
    border-radius: 5px;
    z-index: 10;
}
.india
{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 3%;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
p
{
    color: rgba(255, 255, 255, 0.7);
    margin-top: 3%;
    font-size: 13px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
a.learn
{
    color: blue;
}